<div class="all">
  
    <nav class="navbar navbar-expand-lg navbar-light">
      <i  class=" icon fas fa-solid fa-cake-candles"></i>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link log"  href="#">Fruits<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link log" href="#">Flowers<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link log" href="#">Pastry<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Your favourites" aria-label="Search" [(ngModel)]="searchbyname" [ngModelOptions]="{standalone: true}">
        </form>
      </div>
    </nav>
    <div class="container info">
      <div class="row">
        <div class="col-md-4 mt-5" *ngFor="let card of CakesArray |filtercakes:searchbyname">
          <div class="card">
           <div class="card-body contain text-center"><img   src="{{card.img}}"alt=""><p style="color:#8b008b">{{card.name}}</p>
          <div class="d-flex justify-content-between" style="color:#8b008b"><span><strong>{{card.weight}}</strong></span><span><strong>{{card.prize}}</strong></span></div>
          </div>
            <div class="card-footer d-flex justify-content-between">
              <button class="btn ">Cart</button>
              <button class="btn ">Order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
